<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="PUBLIC/css/frozen.css">
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>

<body>
    <header class="ui-header ui-header-positive ui-border-b">
        <h1>个人中心</h1>
    </header>
    <footer class="ui-footer ui-footer-stable ui-btn-group ui-border-t">
        <a class="ui-btn-lg ui-btn-primary" href="/uppage">
            上传作业
        </a>
    </footer>
    <section class="ui-container">
        <div class="center">
            <img src="PUBLIC/img/logo.png" alt="登陆图标">
        </div>
        <ul class="ui-list ui-list-text ui-list-link ui-border-tb">
            <li class="ui-border-t">
                <h4>名字</h4>
                <div class="ui-txt-info">{$user.usernm}</div>
            </li>
            <li class="ui-border-t">
                <h4 class="ui-nowrap">班级</h4>
                <div class="ui-txt-info">{$user.userclass}</div>
            </li>
            <li class="ui-border-t">
                <h4 class="ui-nowrap">学号</h4>
                <div class="ui-txt-info">{$user.userid}</div>
            </li>
        </ul>
    </section>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/zui/1.7.0/lib/jquery/jquery.js"></script>
<script src="PUBLIC/lib/zepto.min.js"></script>
<script src="PUBLIC/js/frozen.js"></script>

</html>