<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="PUBLIC/css/frozen.css">
    <style>
        .center {
            text-align: center;
        }
        .hide{
            display: none;
        }
    </style>
</head>

<body>
    <header class="ui-header ui-header-positive ui-border-b">
        <h1>个人中心</h1>
    </header>
    <footer class="ui-footer ui-footer-stable ui-btn-group ui-border-t">
        <a class="ui-btn-lg ui-btn-primary" onclick="$('.ui-dialog').removeClass('hide');">
            上传作业
        </a>
    </footer>
    <section class="ui-container">
        <div class="center">
            <img src="PUBLIC/img/logo.png" alt="登陆图标">
        </div>
        <ul class="ui-list ui-list-text ui-list-link ui-border-tb">
            <li class="ui-border-t">
                <h4>名字</h4>
                <div class="ui-txt-info">{$user.usernm}</div>
            </li>
            <li class="ui-border-t">
                <h4 class="ui-nowrap">学号</h4>
                <div class="ui-txt-info">{$user.userid}</div>
            </li>
            <li class="ui-border-t" onclick="location.href='/userclass'">
                <h4 class="ui-nowrap">班级</h4>
                <div class="ui-txt-info"></div>
            </li>
        </ul>
        <div class="ui-dialog hide">
            <div class="ui-dialog-cnt">
                <header class="ui-dialog-hd ui-border-b">
                    <h3>上传选项</h3>
                    <i id="iconcancel" class="ui-dialog-close" data-role="button"></i>
                </header>
                <h4 style="text-align:center">班级</h4>
                <div class="ui-form-item ui-border-b">
                    <div class="ui-select" style="margin: 0">
                        <select id="class">
                            {volist name="myclass" id="data"}
                            <option>{$data.userclass}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="ui-dialog-ft">
                    <button id="cancel" type="button" data-role="button">取消</button>
                    <button id="okup" data-role="button">确认</button>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/zui/1.7.0/lib/jquery/jquery.js"></script>
<script src="PUBLIC/lib/zepto.min.js"></script>
<script src="PUBLIC/js/frozen.js"></script>
<script>
     $(document).ready(function () {
            $('#iconcancel').click(function () {
                $('.ui-dialog').addClass('hide');
            });
            $('#cancel').click(function () {
                $('.ui-dialog').addClass('hide');
            });
            $('#okup').click(function () {
                window.location.href = '/uppage?class='+$('#class').val();
            })
        })
</script>
</html>