<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件上传</title>
    <link rel="stylesheet" href="PUBLIC/css/frozen.css">
    <style type="text/css">
        .ui-header {
            position: inherit;
        }

        .hide {
            display: none;
        }

        input[type=file] {
            opacity: 0;
            z-index: 999;
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
</head>

<body>
    <header class="ui-header ui-header-positive ui-border-b">
        <h1>文件上传</h1>
    </header>
    <div id="“warid" class="ui-tooltips ui-tooltips-warn hide">
        <div class="ui-tooltips-cnt ui-border-b">
            <i></i>
            <span id=“warin></span>
            <a class="ui-icon-close" onclick="
                        $('#“warid').addClass('hide')"></a>
        </div>
    </div>
    <div class="ui-form ui-border-t">
        {volist name="file" id="data"}
        <div class="ui-form-item ui-form-item-radio ui-border-b">
            <label class="ui-radio" for="radio">
                <input type="radio" value="{$data.fileid}" name="radio">
            </label>
            <p>{$data.filename}</p>
        </div>
        {/volist}
    </div>
    <button class="ui-btn-lg">
        <input id="upfile" class="ui-btn-lg" type="file" name="image" /> 选择文件(jpg,png,mp4)
    </button>
    <br>
    <div class="ui-footer ui-footer-stable ui-btn-group ui-border-t" style="z-index:1000;">
        <button id="update" class="ui-btn-lg ui-btn-primary">
            上传
        </button>
        <button id="delete" class="ui-btn-lg ">
            删除
        </button>
        </input>
    </div>
    <div id="infodiv" class="ui-loading-block">
        <div class="ui-loading-cnt">
            <i class="ui-loading-bright"></i>
            <p>正在上传</p>
            <div class="ui-progress">
                <span id="progress" style="width:0"></span>
            </div>
        </div>
    </div>
</body>
<script src="PUBLIC/js/jquery-3.2.1.min.js"></script>
<script src="PUBLIC/lib/zepto.min.js"></script>
<script src="PUBLIC/js/frozen.js"></script>
<script>
    $(document).ready(function () {
        function unicode(str) {
            var value = '';
            for (var i = 0; i < str.length; i++) {
                value += '\\u' + left_zero_4(parseInt(str.charCodeAt(i)).toString(16));
            }
            return value;
        }
        function left_zero_4(str) {
            if (str != null && str != '' && str != 'undefined') {
                if (str.length == 2) {
                    return '00' + str;
                }
            }
            return str;
        }
        $('#update').click(function () {
            var xhrOnProgress = function (fun) {
                xhrOnProgress.onprogress = fun; //绑定监听
                //使用闭包实现监听绑
                return function () {
                    //通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
                    var xhr = $.ajaxSettings.xhr();
                    //判断监听函数是否为函数
                    if (typeof xhrOnProgress.onprogress !== 'function')
                        return xhr;
                    //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
                    if (xhrOnProgress.onprogress && xhr.upload) {
                        xhr.upload.onprogress = xhrOnProgress.onprogress;
                    }
                    return xhr;
                }
            }
            var formdata = new FormData();
            console.log($('#upfile'));
            formdata.append('file', $('#upfile')[0].files[0]);
            console.log($('#upfile')[0].files[0].name);
            $.ajax({
                url: "/upload",
                type: "post",
                dataType: 'json',
                data:formdata,
                contentType: false,
                processData: false,
                xhr: xhrOnProgress(function (e) {
                    var percent = (e.loaded / e.total * 100)+'%';//计算百分比
                    $("#progress").css('width', percent);
                }),
                beforeSend: function () {
                    $('#infodiv').addClass('show');
                },
                success: function (msg) {
                    if (msg === 1) {
                        $('#infodiv').removeClass('show');
                        location.reload();
                    } else {
                        $('#“warid').removeClass('hide');
                        $('#infodiv').removeClass('show');
                        $('#“warin').text(msg);
                    }
                },
                error: function (msg, err) {

                }
            })
        })
        $('#delete').click(function () {
            $.ajax({
                url: "/delete",
                type: "delete",
                data: {
                    fileid: $('input:radio:checked').val()
                },
                success: function (msg) {
                    if (msg) {

                        location.reload();

                    } else {
                        $('#“warid').removeClass('hide');
                        $('#infodiv').removeClass('show');
                        $('#“warin').text("删除失败");

                    }
                }

            })
        })
    });
</script>

</html>